@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #09050d;
  color: #fff;
}
.auth-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.auth-header-container {
  width: 310px;
  text-align: left;
  margin-bottom: 15px;
  padding: 10px;
}
.auth-heading {
  font-weight: 700;
  font-size: 24px;
}
.auth-subheading {
  font-weight: 200;
  font-size: 16px;
}
.card {
  border-radius: 0.75rem;
  background: radial-gradient(
    333.18% 148.3% at -29.81% -33.02%,
    rgba(17, 6, 27, 0.3) 0%,
    rgba(52, 22, 82, 0.3) 100%
  );
  padding: 24px 12px;
  width: 310px;
}

input {
  border: none;
  background: #ab71f41a;
  padding: 8px;
  width: 280px;
  color: #fff;
  transition: 0.1s;
  outline: none;
}
input:focus {
  border: 1px solid #ab71f4;
  /* border-radius: 8px; */
}
::placeholder {
  color: #fff;
  opacity: 0.3;
  font-weight: 300;
}
.label,
.primary-text {
  color: #ab71f4;
  font-weight: 600;
}
.small-text span {
  cursor: pointer;
}
.auth-btn {
  text-decoration: none;
  color: #ab71f4;
}
.small-text,
.label {
  font-size: 12px;
  font-weight: 300;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
}
button {
  width: 50%;
  border: none;
  border-radius: 16px;
  color: #fff;
  padding: 8px;
  background-color: #ab71f4;
  cursor: pointer;
}
