@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #09050d;
  color: #fff;
}
.auth-outer-container,
.tasks-outer,
.task-details-outer,
.add-edit-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.tasks-outer {
  justify-content: flex-start;
}
.auth-header-container,
.tasks-header {
  width: 310px;
  text-align: left;
  margin-bottom: 15px;
  padding: 10px;
}
.auth-heading {
  font-weight: 700;
  font-size: 24px;
}
.auth-subheading {
  font-weight: 200;
  font-size: 16px;
}
.card {
  border-radius: 0.75rem;
  background: radial-gradient(
    333.18% 148.3% at -29.81% -33.02%,
    rgba(17, 6, 27, 0.3) 0%,
    rgba(52, 22, 82, 0.3) 100%
  );
  padding: 24px 12px;
  width: 310px;
}

input {
  border: none;
  background: #ab71f41a;
  padding: 8px;
  width: 280px;
  color: #fff;
  transition: 0.1s;
  outline: none;
}
input:focus {
  border: 1px solid #ab71f4;
  /* border-radius: 8px; */
}
::placeholder {
  color: #fff;
  opacity: 0.3;
  font-weight: 300;
}
.label,
.primary-text {
  color: #ab71f4;
  font-weight: 600;
}
.small-text span {
  cursor: pointer;
}
.auth-btn {
  text-decoration: none;
  color: #ab71f4;
}
.small-text,
.label {
  font-size: 12px;
  font-weight: 300;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
}
button {
  width: 150px;
  border: none;
  border-radius: 16px;
  font-weight: 600;
  color: #fff;
  padding: 8px;
  background-color: #ab71f4;
  cursor: pointer;
}
.tasks-container {
  padding: 10px;
}
.task-box {
  display: flex;
  gap: 8px;
  margin: 10px;
  width: 350px;
}
.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  cursor: pointer;
}
.task-title-container {
  width: 280px;
  display: flex;
  justify-content: space-between;
}
.task-title {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}
.add-task {
  margin-bottom: 20px;
}
.task-priority {
  color: #ffd233;
  font-size: 10px;
}
.task-desc {
  color: #959daf;
  font-size: 12px;
}
.tasks-header-container {
  background: linear-gradient(94deg, #191322 2.87%, #190f25 115.1%);
  border-radius: 0rem 0rem 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 5px 0 5px;
  width: 350px;
}

.settings-icon {
  padding-right: 10px;
}
.settings-icon img {
  height: 25px;
  width: 25px;
}
.task-search-bar input {
  background: none;
  width: 240px;
}
.task-search-bar select,
.task-title-filter select {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  border: 1px solid rgba(171, 113, 244, 0.2);
  background: rgba(171, 113, 244, 0.1);
  border-radius: 1rem;
  font-size: 10px;
  padding: 2px;
}
.task-search-bar input:focus {
  border: none;
}
.task-search-bar {
  margin-top: 15px;
  border-radius: 1rem;
  border: 1px solid rgba(172, 113, 244, 0.466);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 350px;
}
.task-options {
  margin-top: 10px;
  display: flex;
  width: 300px;
}
.task-line {
  background: #202329;
  height: 2px;
  margin-top: 15px;
  width: 350px;
  border-radius: 10px;
}
.all-tasks-container {
  display: flex;
  margin-top: 18px;
  width: 350px;
  justify-content: space-between;
  align-items: center;
}
.all-tasks-container p {
  font-size: 18px;
  font-weight: 600;
}
.progress-bar-bg {
  background: rgba(171, 113, 244, 0.1);
  height: 12px;
  width: 300px;
  border-radius: 10px;
}
.progress-bar {
  background: #ab71f4;
  height: 12px;
  width: 100px;
  border-radius: 10px;
}
.task-progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 350px;
}
.task-progress-container p {
  font-size: 10px;
}
.task-options-container {
  display: flex;
  width: 350px;
  font-size: 10px;
  justify-content: space-between;
  margin-top: 15px;
}
.task-option {
  border: 1px solid rgba(172, 113, 244, 0.466);
  color: #959daf;
  border-radius: 1rem;
  padding: 4px 10px;
  cursor: pointer;
}
.task-option.active {
  background: #ab71f4;
  color: #fff;
  border: none;
}
.task-date-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #959daf;
  font-size: 9px;
  font-weight: 600;
  padding: 2px 0;
  margin-top: 3px;
}
.task-date-container img {
  height: 10px;
  width: 10px;
}
.task-date-container div {
  padding-left: 2px;
}
.high-priority {
  color: #fb7575;
}
.low-priority {
  color: #75fb8a;
}

.task-details-outer {
  height: 40vh;
}
.task-details-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #959daf;
  font-size: 12px;
  font-weight: 600;
  width: 100%;
  max-width: 350px;
}
.task-option-icons img {
  margin: 0 5px;
  width: 25px;
  height: 25px;
}
.task-details-title,
.title-container {
  font-size: 36px;
  text-align: left;
  width: 100%;
  max-width: 350px;
  font-weight: 700;
  color: #fff;
}
.task-date-priority-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 350px;
  margin-top: 15px;
}
.task-description {
  width: 100%;
  max-width: 350px;
  margin: 10px 0;
}
.back-to-task-btn,
.buttons-container {
  position: fixed;
  bottom: 10vh;
}
.add-edit-outer {
  height: 65vh;
}
.add-title-container,
.add-description-container {
  width: 350px;
  margin-top: 25px;
}
.add-title-container input {
  width: 100%;
}
.add-description-container textarea {
  width: 100%;
  outline: none;
  border: none;
  background: #ab71f41a;
  padding: 8px;
  color: #fff;
  transition: 0.1s;
}
textarea:focus,
select:focus {
  border: 1px solid #ab71f4;
}
.duedate-priority-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  margin-top: 20px;
}
.duedate-container,
.priority-container {
  width: 47%;
}
.duedate-container input {
  width: 100%;
}
.priority-container select {
  width: 100%;
  padding: 8px;
  background: #ab71f41a;
  outline: none;
  border: none;
  color: #fff;
}
.buttons-container {
  width: 350px;
  display: flex;
  justify-content: space-between;
}
.cancel-button {
  background: none;
  color: #ab71f4;
  border: 2px solid #ab71f4;
}
